/* general styles */
:root {
  --sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}
body {
  font-family: var(--sans);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

.container {
  padding: 5% 10%;
  text-align: center;
}

#profile {
  border-radius: 50%;
  height: 15rem;
  border: blue 5px solid;
}
img {
  height: auto;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* nav bar */
nav {
  background-color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 2rem;
  font-family: var(--poppins);
  font-weight: bold;
}

nav li {
  padding: 10px 30px;
}

nav a {
  color: darkblue;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: deepskyblue;
}

/* header section */
header {
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(205, 237, 254));
  font-size: 25px;
  padding: 3rem, 5rem;
  border-bottom: blue solid 5px;
}

header h1 span {
  color: darkblue;
  font-family: "lobster", cursive;
  font-size: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 span:hover {
  color: palevioletred;
}
header h2 span {
  color: darkblue;
  font-family: "lobster", cursive;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

header h2 span:hover {
  color: palevioletred;
}

/* about me section */
.about {
  /* flex: 1 1 10rem;
  flex-wrap: wrap; */
  height: 100%;
  background-color: lavender;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: blue solid 5px;
  font-size: 1.5rem;
  font-family: var(--sans);
}

/* my work  */
.work {
  background-color: #bdd5ff;
  font-size: 1.5rem;
  font-family: var(--sans);
  border-bottom: blue solid 5px;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.work-items img {
  margin-bottom: 2px;
  border-radius: 10%;
  height: auto;
}

.project {
  padding: 10px;
  background-color: rgb(238, 236, 236);
  margin-bottom: 100px;
  border: blue 5px solid;
  border-radius: 10%;
  width: 50%;
}

.project img {
  width: 100%;
}
.project:hover {
  transform: scale(1.5);
}

/* footer */
.contact {
  background-color: lavender;
  border: blue 5px solid;
  border-radius: 30px;
  margin: 3rem;
}
.social {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: var(--poppins);
}
.social span {
  padding: 20px;
}
.copy p {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--poppins);
}
/*making website responsive*/

@media screen and (max-width: 685px) {
  .contact {
    width: 50%;
    margin-left: 2rem;
  }
  .social {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;

    padding: 10px;
    background-color: rgb(238, 236, 236);
    margin-bottom: 100px;
  }

  .project img {
    width: 100%;
  }
}
