:root {
  --blue: blue;
  --sans: font-family: 'Source Sans Pro', sans-serif;
}
body {
  font-family: var(--sans);
  margin: 0;
  padding: 0;
  background-color: lavender;
}

/*setting the header and banner to flex*/
header, .banner{
    display: flex;
    justify-content: flex-end;
}
header {
  
  background-color: lavender;
  border-bottom: 6px solid var(--blue);
  width: 100%;
  padding-top: 5px;
 
}

header nav ul li {
  list-style: none;
  display: inline;
  padding: 0 20px 10px;
}
a:hover,footer ul li:hover{
    border:1px var(--blue) solid;
    padding:5px;
}

.banner {
  
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 6px solid var(--blue);
  align-items: flex-end;/*positining the banner to left-corner of banner*/
  
}
/*using css-selectors to select direct descendants*/
figure>h3{
  font-family: "Lobster", cursive;
  font-size: 25px;
}


/*styling of main part*/

.row {
  display: flex;
  flex-direction: row;}

  .projects{
  flex-wrap: wrap;
}
/* styling the about-me and description*/
p {

  height: 200px;
  width: 300px;
  margin-left: 300px;
  background-color: ivory;
  border: 3px solid var(--blue);
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 100px;
}
/*styling the projects part*/


/*positioning titles of project at centre of images*/
 h2{
  margin:0px;
  position:relative;
  bottom: 40px;
  left: 200px;
  height:50px; 
}

.heading-3{
    position: relative;
    bottom: 40px;
    left: 600px;
    height:50px;
}

.image,.image-3 {

  height: 300px;
  width: 300px;
  border: lightskyblue solid 2px;
  margin-bottom:60px;
  z-index: 1;

}
.image-3{
    position:relative;
    left: 400px;
}
.image:hover,.image-3:hover{
    transform: scale(1.5);
    z-index: 2;
}
.heading {
 padding-left: 30px;
  border-right: 5px solid var(--blue);
  width: 150px;
}


/*styling the footer part*/

footer ul {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height:200px;
}
footer ul li {
  padding: 0px 20px 15px 15px;
  list-style: none;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}
footer ul li a {
  color: black;
}
